/* MAIN IMAGE */
.banner header{
    text-align: center;
    padding-top: 200px;
}
.banner h1 {
    font-size: 80px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 1px 8px 3px black;
    text-transform: uppercase;
}
.banner-subtitle{
    padding: 10px;
    color: white;
    border-bottom: 3px solid white;
    display: inline-block;
    background-color: rgba(0,0,0,.8);
    font-size: 30px;
}

.banner{
    height: 600px;
    background-image: url("../img/banner-espanha.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

/* CONTENT */
figcaption{
    text-align: center;
}
.container .row p{
    font-size: 20px;
    margin: 20px auto;
    width: 80%;
}
.content-article{
    text-align: justify;
}
#img1{
    margin: auto;
    width: 80%;
    height: 500px;
    background-image: url("../img/barcelona.jpg");
}
#img2{
    margin: auto;
    width: 80%;
    height: 500px;
    background-image: url("../img/sevilla.jpg");
}
#img3{
    margin: auto;
    width: 80%;
    height: 500px;
    background-image: url("../img/granada.jpg");
}

h2{
    text-align: center;
}